<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>My Categories</h5>
          <button class="btn btn-primary pull-right" routerLink="create" ><span>Add New Category</span>
          </button>

        </div>
        <div class="card-body custom-datatable">
          <ngx-datatable class="bootstrap" [rows]="category"
                         [columns]="[{name:'Name'},{name:'Type Name'}]" [columnMode]="'force'"
                         [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->
