<!-- Page Header Start-->
<div class="page-main-header" [ngClass]="{'open' : navServices.collapseSidebar}" id="page-main-header">
  <div class="main-header-right row">
    <div class="main-header-left d-lg-none">
      <div class="logo-wrapper" *nfIg="authService.userData as user"><a href="javascript:void(0)"><img [src]="user.user.fullUrlImage == null ? 'assets/images/user/1.jpg' : user.user.fullUrlImage" alt=""></a></div>
    </div>
    <div class="mobile-sidebar">
      <div class="media-body text-right switch-sm">
        <label class="switch">
          <a href="javascript:void(0)" (click)="collapseSidebar()">
            <app-feather-icons id="sidebar-toggle" [icon]="'align-left'"></app-feather-icons>
          </a>
        </label>
      </div>
    </div>
    <div class="nav-right col">
      <ul class="nav-menus" [ngClass]="{'open' : openNav}">
        <li></li>
        <li class="onhover-dropdown">
          <div class="media align-items-center" *ngIf="!authService.userData as user"><img
              class="align-self-center pull-right img-50 rounded-circle"
              [src]="user.user.fullUrlImage == null ? 'assets/images/user/1.jpg' : user.user.fullUrlImage" alt="header-user">

          </div>
          <div class="media align-items-center" *ngIf="authService.userData as user"><img
              class="align-self-center pull-right img-50 rounded-circle"
              [src]="user.user.fullUrlImage == null ? 'assets/images/user/1.jpg' : user.user.fullUrlImage" alt="header-user">
          </div>
          <ul class="profile-dropdown onhover-show-div p-20">
            <li *ngIf="authService.userData as user"><a href="javascript:void(0)" (click)="authService.SignOut()">
                <app-feather-icons [icon]="'log-out'"></app-feather-icons>Logout
              </a></li>
          </ul>
        </li>
      </ul>
      <div class="d-lg-none mobile-toggle pull-right" (click)="openMobileNav()">
        <app-feather-icons [icon]="'more-horizontal'"></app-feather-icons>
      </div>
    </div>
  </div>
</div>
<!-- Page Header Ends -->
