<!-- Container-fluid starts-->
<div class="container-fluid" *ngIf="authService.hasRole(role.Admin)">
  <div class="row">
    <div class="col-xl-12 xl-100">
      <div class="card">
        <div class="card-header card-header-border">
          <h5>users</h5>
        </div>

        <div class="card-body custom-datatable">
          <ngx-datatable class="bootstrap" [rows]="users"
                         [columns]="[{name:'Name'},{name:'Email'},{name:'Phone'},{name:'birthdate'},{name:'totalIncomes'},{name:'totalExpenses'},{name:'registeredDate'}]" [columnMode]="'force'"
                         [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
          </ngx-datatable>
        </div>
      </div>
    </div>

  </div>
  <!-- Container-fluid Ends-->
</div>

<!-- Container-fluid starts-->
<div class="container-fluid" *ngIf="authService.hasRole(role.User)">
  <div class="row">
    <div class="col-xl-12 xl-100">
      <div class="row">
        <div class="col-sm-3" *ngFor="let x of data; let i = index">
          <div class="card">
            <div class="card-body">
              <div class="chart-widget-dashboard">
                <div class="media">
                  <div class="media-body">
                    <h5 class="mt-0 mb-0 f-w-600">
                      {{x.currency}}
                      <span *ngIf="x.amount == 0">0</span>
                      <span class="counter" [CountTo]="x.amount" [from]="" [duration]="2"></span></h5>
                    <p>{{x.label}}</p>
                  </div>
                </div>
                <div class="dashboard-chart-container">
                  <x-chartist class="small-chart-gradient-1" [data]="x.chart.data" [type]="x.chart.type" [options]="x.chart.options" [events]="x.chart.events">
                  </x-chartist>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 xl-100">
      <div class="card">
        <div class="card-header card-header-border">
          <div class="row">
            <div class="col-sm-6">
              <h5>Analysis Chart</h5>
            </div>
            <div class="col-sm-6">
              <div class="pull-right right-header">
                <div class="onhover-dropdown">
                  <button class="btn btn-primary btn-pill" type="button">{{filterName}} <span class="pr-0"><i class="fa fa-angle-down"></i></span></button>
                  <div class="onhover-show-div right-header-dropdown">
                    <a href="javascript: void(0);" class="d-block" *ngFor="let filter of filters" (click)="filterChart(filter.id)">{{filter.label}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="show-value-top d-flex">
              <div class="value-left d-inline-block" *ngFor="let chartBox of chartBox">
                <div class="square d-inline-block {{chartBox.color}}"></div><span>{{chartBox.label}}</span>
              </div>
            </div>
            <x-chartist class="smooth-chart flot-chart-container" [data]="chart4.data" [type]="chart4.type" [options]="chart4.options" [events]="chart4.events">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
