<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h4>Add Category</h4>
          </div>
          <form class="theme-form" [formGroup]="categoryForm">
            <div class="form-group">
              <label class="col-form-label pt-0">Category Name</label>
              <input class="form-control" formControlName="name" type="text" required="">
              <div *ngIf="categoryForm.controls.name.touched && categoryForm.controls.name.errors?.required"
                   class="text text-danger mt-1">
                Name is required
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Category Type</label>
              <div class="form-group">
                <select class="form-control" formControlName="type_id" id="exampleFormControlSelect9">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let type of types" value="{{type.id}}">{{type.name}}</option>
                </select>
              </div>
              <div *ngIf="categoryForm.controls.type_id.touched && categoryForm.controls.type_id.errors?.required"
                   class="text text-danger mt-1">
                Category Type is required
              </div>
            </div>
                        <div class="form-row">
                          <div class="col-sm-12">
                            <button class="btn btn-primary "
                                    [disabled]="!categoryForm.valid" (click)="add()"
                                    type="submit"><span>Add</span>
                            </button>
                          </div>
                        </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
