<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 xl-100">
      <div class="row">
        <div class="col-sm-3" *ngFor="let x of data; let i = index">
          <div class="card">
            <div class="card-body">
              <div class="chart-widget-dashboard">
                <div class="media">
                  <div class="media-body">
                    <h5 class="mt-0 mb-0 f-w-600">
                      {{x.currency}}
                      <span *ngIf="x.amount == 0">0</span>
                      <span class="counter" [CountTo]="x.amount" [from]="" [duration]="2"></span></h5>
                    <p>{{x.label}}</p>
                  </div>
                </div>
                <div class="dashboard-chart-container">
                  <x-chartist class="small-chart-gradient-1" [data]="x.chart.data" [type]="x.chart.type" [options]="x.chart.options" [events]="x.chart.events">
                  </x-chartist>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-primary pull-right" routerLink="create" ><span>Add Transaction</span>
          </button>

        </div>
        <div class="card-body custom-datatable">
          <ngx-datatable class="bootstrap" [rows]="transaction"
                         [columns]="[{name:'Amount'},{name:'Category'},{name:'Note'},{name:'Created'}]" [columnMode]="'force'"
                         [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>

</div>
