<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h4>Add Transaction</h4>
          </div>
          <form class="theme-form" [formGroup]="transactionForm">
            <div class="form-group">
              <label class="col-form-label pt-0">Amount</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{authService.currency}}</span>
                </div>
                <input type="text" class="form-control" formControlName="amount"
                       aria-label="Amount (to the nearest dollar)">
              </div>
              <div *ngIf="transactionForm.controls.amount.touched && transactionForm.controls.amount.errors?.required"
                   class="text text-danger mt-1">
                Amount is required
              </div>
              <div *ngIf="transactionForm.controls.amount.touched && transactionForm.controls.amount.errors?.pattern"
                   class="text text-danger mt-1">
                Please Enter Valid Amount
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Category</label>
              <div class="form-group">
                <select class="form-control" formControlName="categoryId" id="exampleFormControlSelect9">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}} - {{category.typeName}}</option>
                </select>
              </div>
              <div *ngIf="transactionForm.controls.categoryId.touched && transactionForm.controls.categoryId.errors?.required"
                   class="text text-danger mt-1">
                Category is required
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label pt-0">Note</label>
              <textarea rows="5" cols="5" placeholder="Note" formControlName="note" required="" class="form-control"></textarea>
              <div *ngIf="transactionForm.controls.note.touched && transactionForm.controls.note.errors?.required"
                   class="text text-danger mt-1">
                Note is required
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-12">
                <button class="btn btn-primary "
                        [disabled]="!transactionForm.valid" (click)="add()"
                        type="submit"><span>Add</span>
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
