<div class="page-wrapper">
  <div class="auth-bg container-fluid">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card mt-4">
          <div class="card-body">
            <div class="text-center">
              <h4>Register</h4>
              <h6>Enter your Informtion </h6>
            </div>
            <form class="theme-form" [formGroup]="registerForm">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 form-group">
                      <label class="col-form-label pt-0">Full Name</label>
                      <input class="form-control" formControlName="name" type="text" required="">
                      <div *ngIf="registerForm.controls.name.touched && registerForm.controls.name.errors?.required"
                           class="text text-danger mt-1">
                        Name is required
                      </div>
                    </div>
                  <div class="col-lg-6 form-group">
                    <label class="col-form-label pt-0">Email</label>
                    <input class="form-control" formControlName="email" type="email" required="">
                    <div *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.required"
                         class="text text-danger mt-1">
                      Email is required
                    </div>
                    <div *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.email"
                         class="text text-danger mt-1">
                      Invalid Email
                    </div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="col-form-label pt-0">Phone Number</label>
                    <input class="form-control" formControlName="phone" type="text" ng2TelInput required="" (hasError)="hasErrorNumber($event)">
                    <div *ngIf="registerForm.controls.phone.touched && registerForm.controls.phone.errors?.required"
                         class="text text-danger mt-1">
                      Number is required
                    </div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="col-form-label pt-0">BirthDate</label>
                    <input class="form-control digits" formControlName="birthDate" type="date" [value]="nowDate" [max]="nowDate">
                    <div *ngIf="registerForm.controls.birthDate.touched && registerForm.controls.birthDate.errors?.required"
                         class="text text-danger mt-1">
                      BirthDate is required
                    </div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="col-form-label">Image</label>
                    <input type="file" class="form-control" (change)="fileEvent($event)"/>

                    <div *ngIf="registerForm.controls.userImage.touched && registerForm.controls.userImage.errors?.required"
                         class="text text-danger mt-1">
                      Image is required
                    </div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="col-form-label">Wallet Currency</label>
                    <div class="form-group">
                      <select class="form-control" formControlName="walletCurrency" id="exampleFormControlSelect9">
                        <option selected disabled>Select one</option>
                        <option *ngFor="let currency of walletCurrency" value="{{currency.id}}">{{currency.name}}</option>
                      </select>
                    </div>
                    <div *ngIf="registerForm.controls.walletCurrency.touched && registerForm.controls.walletCurrency.errors?.required"
                         class="text text-danger mt-1">
                      Wallet Currency is required
                    </div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="col-form-label">Password</label>
                    <input class="form-control" type="password" formControlName="password" required="">
                    <div *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.required"
                         class="text text-danger mt-1">
                      Password is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-4">
                  <button class="btn btn-primary"
                          [disabled]="!registerForm.valid" (click)="register()"
                          type="submit"><span>Sign Up</span>
                  </button>
                </div>
                <div class="col-sm-8">
                  <div class="text-left mt-2 m-l-20">Are you already user?  <a class="btn-link text-capitalize"
                   routerLink="/auth/login">Login</a></div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
