<div class="page-wrapper">
	<div class="auth-bg">
		<div class="authentication-box">
			<div class="card mt-4">
				<div class="card-body">
					<div class="text-center">
						<h4>LOGIN</h4>
						<h6>Enter your Username and Password </h6>
					</div>
					<form class="theme-form" [formGroup]="loginForm">
						<div class="form-group">
							<label class="col-form-label pt-0">Email</label>
							<input class="form-control" formControlName="email" type="email" required="">
							<div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required"
								class="text text-danger mt-1">
								Email is required
							</div>
							<div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email"
								class="text text-danger mt-1">
								Invalid Email
							</div>
						</div>
						<div class="form-group">
							<label class="col-form-label">Password</label>
							<input class="form-control" type="password" formControlName="password" required="">
							<div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required"
								class="text text-danger mt-1">
								Password is required
							</div>
						</div>
						<div class="checkbox p-0">
							<input id="checkbox1" type="checkbox">
							<label for="checkbox1">Remember me</label>
						</div>
            <div class="form-row">
              <div class="col-sm-4">
                <button class="btn btn-primary "
                        [disabled]="!loginForm.valid" (click)="login()"
                        type="submit"><span>Login</span>
                </button>
              </div>
              <div class="col-sm-8">
                <div class="text-left mt-2 m-l-20">If you don't have account?  <a class="btn-link text-capitalize"
                                                                             routerLink="/auth/register">Register</a></div>
              </div>
            </div>

          </form>
				</div>
			</div>
		</div>
	</div>
</div>
